@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  @apply font-sans;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 18px solid #31aa2d;
  border-bottom: 10px solid transparent;
}

.highlight {
  color: #0172bb;
  font-weight: 600;
}
